@import "../../styles/variables";

.pokemon_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;

  &_wrap {
    max-width: 1560px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 370px);
    grid-gap: 15px;
    justify-content: center;

    @media (max-width: 1550px) {
      grid-template-columns: repeat(3, 370px);
    }

    @media (max-width: 1180px) {
      grid-template-columns: repeat(3, 270px);
    }

    @media (max-width: 870px) {
      grid-template-columns: repeat(2, 300px);
    }

    @media (max-width: 630px) {
      grid-template-columns: repeat(2, 250px);
    }

    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 340px);
    }

    .pokemon_card {
      background-color: $black-brown-transparent;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;

      & > img {
        width: 100%;
        min-height: 120px;
        position: relative;

        &:before {
          content: " ";
          display: block;

          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $gainsborough;
        }

        &:after {
          content: " " attr(alt);
          display: block;
          background-image: url(/pokemon-logo.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;

          position: absolute;
        }
      }

      & > p {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $rapeseed-yellow;
        text-shadow: 4px 4px 4px $black-brown-very-transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: $white-highly-transparent;
        border-radius: 8px;
        padding: 16px;
        box-shadow: $black-highly-transparent 0px 5px 15px;
      }
    }
  }

  &_loader {
    margin-top: 40px;

    & > p {
      font-size: 18px;
      text-align: center;
    }

    .loader_wrap {
      width: 100px;
      height: 100px;
    }
  }
}
