// colors
$blue: #1300ea;
$sangina: #94000d;
$gray-brown: #3f3f3f;
$light-pink: #ffbdc2;
$snow-white: #fff0f1;
$black-brown: #212121;
$chinese-red: #e83e35;
$smoky-white: #f2f2f2;
$pastel-green: #73d677;
$santa-claus-hat: #c62828;
$light-turquoise: #5fe2c9;
$rich-red-orange: #fdc666;
$rapeseed-yellow: #f5db13;
$bright-turquoise: #07d6f2;
$black-brown-transparent: #21212180;
$pine-green: rgb(42, 92, 62);
$green-tea: rgb(233, 251, 240);
$magic-mint: rgb(198, 246, 217);
$gainsborough: rgb(230, 230, 230);
$black-very-transparent: rgba(0, 0, 0, 0.18);
$black-highly-transparent: rgba(0, 0, 0, 0.35);
$black-brown-transparent: rgba(33, 33, 33, 0.8);
$dark-blue-highly-transparent: rgba(1, 28, 64, 0.2);
$black-brown-very-transparent: rgba(33, 33, 33, 0.1);
$white-highly-transparent: rgba(255, 255, 255, 0.125);
